<p>Catalog page</p>

<div style="margin-top:10rem">
    <p class="subtitle">Country selector: Web component</p>
    <div class="dropdown">
       <cds-dropdown
          [title]="'Web component'"
            [label]="'Select country'"
           >
          <cds-dropdown-item
            *ngFor="let item of dropdownItems"
            [value]="item.content"
            [selected]="item.selected"
          >
            {{ item.content }}
          </cds-dropdown-item>
           </cds-dropdown>
    </div>
 </div>
